{{#each this}}
 <div class="flag"><img src="{{flag}}" alt="{{name}} flag"></div>
  <h1>{{name}}</h1>
  <div class="cards">
    <div class="country-info">
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages:</p>
        <ul>
          {{#each languages}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
     
    </div>
  </div>
{{/each}}